body {
  margin: 20px;
}

.portfolio {
  width: 70%;
  margin: auto;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  gap: 15px;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-wrapper:nth-child(3n + 1) {
  grid-row: span 2;
}

button {
  padding: 5px 10px;
  margin-right: 10px;

  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
}

.active {
  background-color: #686868;
  border: none;
  color: white;
}

.toolbar {
  margin-bottom: 20px;
}